.message-photo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .photo-item {
    max-height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 250px;
    width: auto;
    height: auto;
    border-radius: 5px;
    &.video {
      object-fit: contain;
    }
  }
  .file-item {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    background-color: var(--color-highlight-action);
    &:hover {
      cursor: pointer;
      background-color: var(--color-highlight-action-high);
    }
  }
  .file-name {
    margin: 0 20px;
    font-size: 16px;
    line-height: 26px;
    flex: 1;
  }
}
