.container {
  flex: 1;
  background-color: var(--color-darkest-background);
  padding: 0 10px;
  .title {
    font-weight: 600;
    color: var(--color-light-text);
    font-size: 16px;
    line-height: 22px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
