.container {
  position: relative;
  flex: 1;
  .head {
    height: 70px;
    border-bottom: 1px solid var(--color-stroke);
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: var(--color-background-1);
    position: sticky;
    top: 0;
    .search {
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      width: 100%;
      .input {
        border-radius: 10px;
        background-color: var(--color-highlight-action-high);
        height: 40px;
        text-align: center;
        padding: 0 15px;
        width: 100%;
        color: var(--color-primary-text);
      }
      .placeholder {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        color: var(--color-mute-text);
      }
    }
  }
}

@media only screen and (max-width: 659px) {
  .container {
    .head {
      padding: 0 15px;
      height: 60px;
    }
  }
}
