.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .nav {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-opacity-1);
    position: sticky;
    top: 0;
    z-index: 1;
    .head {
      display: flex;
      align-items: center;
      height: 60px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-primary-text);
      padding: 0 15px;
    }
    .tabs {
      display: flex;
      .tab-item {
        flex: 1;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: var(--color-secondary-text);
        font-size: 16px;
        &.active {
          font-weight: 700;
          color: var(--color-primary-text);
        }
        &:hover {
          background-color: var(--color-stroke);
        }
      }
    }
  }
}
