.task-view__container {
  position: relative;
  background-color: var(--color-lighter-background);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  .task__header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    .task-view__status {
      display: flex;
      padding: 10px;
      border-radius: 5px;
      .task-status__check-box {
      }
      .task-status__name {
        margin-left: 15px;
        font-weight: 600;
      }
    }
  }
  .bottom-tab-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    .active-tab {
      color: var(--color-primary-text);
    }
  }
  .tab-label {
    font-size: 16px;
    color: var(--color-secondary-text);
    padding: 10px;
  }
  .conversation-body {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
  }
  .activity-body__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    .activity-item__container {
      display: flex;
      padding: 10px 15px;
      .activity-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
      .activity-action__container {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        .action-row {
          display: flex;
          align-items: center;
        }
        .action-title {
          font-weight: 700;
          color: var(--color-primary-text);
          font-size: 16px;
          line-height: 19px;
          flex: 1;
        }
        .action-date {
          color: var(--color-secondary-text);
          font-size: 14px;
          line-height: 16px;
          margin-top: 8px;
        }
      }
      .text-container {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
      }
      .date-container {
        display: flex;
        margin-top: 15px;
        align-items: center;
        .prev-date {
          color: var(--color-secondary-text);
          font-size: 16px;
        }
        .update-date {
          color: var(--color-primary-text);
          font-weight: 700;
          font-size: 16px;
        }
      }
      .assignee-container {
        display: flex;
        align-items: center;
        margin-top: 12px;
        .assignee-avatar {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
        .assignee-name {
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          margin-left: 15px;
        }
      }
      .prev-value {
        color: var(--color-secondary-text);
        font-size: 16px;
        line-height: 22px;
      }
      .update-value {
        color: var(--color-primary-text);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
      .channel-container {
        padding: 6px 10px;
        border-radius: 5px;
        background-color: var(--color-highlight);
        border: 1px solid var(--color-stroke);
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-left: 10px;
        color: var(--color-primary-text);
      }
      .status-container {
        padding: 6px 10px;
        background-color: var(--color-highlight);
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-left: 10px;
        text-transform: capitalize;
        .todo {
          color: var(--color-primary-text);
        }
      }
    }
  }
  .task__body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    flex: 1;
    .task-title-input {
      max-height: 200px;
      overflow-y: auto;
      color: var(--color-primary-text);
      flex: 1;
      font-size: 16px;
      margin: 20px;
      font-weight: 500;
      align-self: center;
      word-wrap: break-word;
      word-break: break-word;
      line-height: 26px;
      white-space: pre-line;
      .mention-string {
        pointer-events: none;
      }
    }
    .task-column {
      display: flex;
      flex-direction: column;
      padding: 20px 0 10px 0;
      .label {
        font-size: 16px;
        margin-left: 20px;
        color: var(--color-secondary-text);
      }
      .attachment-view {
        margin: 10px 20px 10px 0;
        position: relative;
        &:hover {
          .attachment-delete {
            display: block;
          }
        }
      }
      .attachment-item-wrapper {
        position: relative;
      }
      .attachment-item {
        height: 90px;
        width: auto;
        border-radius: 5px;
        max-width: 200px;
        object-fit: cover;
      }
      .attachment-name {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #111111bf;
        height: 30px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 10px;
        .text {
          text-overflow: ellipsis;
          max-width: 200px;
          overflow: hidden;
          white-space: nowrap;
          display: inline-block;
        }
      }
      .attachment-delete {
        display: none;
        position: absolute;
        padding: 4px;
        right: -12px;
        top: -12px;
        &:hover {
          cursor: pointer;
        }
      }
      .attachment-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
      }
      .btn-add-attachment {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px dashed var(--color-stroke);
      }
    }
    .task-row {
      min-height: 60px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      .label {
        flex: 1;
        font-size: 16px;
        color: var(--color-secondary-text);
      }
      .value {
        flex: 2;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 60px;
        .normal-button {
          border-radius: 5px;
        }
        .channel-item {
          padding: 6px 10px;
          background-color: var(--color-highlight);
          font-size: 16px;
          font-weight: 600;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        .date-item {
          padding: 6px 10px;
          background-color: var(--color-highlight);
          font-size: 16px;
          font-weight: 600;
          border-radius: 5px;
          &.over-date {
            color: var(--color-urgent);
          }
        }
        .button-add-channel {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          width: 30px;
          height: 30px;
          &:hover {
            cursor: pointer;
          }
        }
        .task-assignee__wrapper {
          display: flex;
          align-items: center;
          padding: 5px;
          .task-un-assigned {
            width: 15px;
            height: 15px;
          }
          .task-assignee {
            width: 25px;
            height: 25px;
            object-fit: cover;
            border-radius: 12.5px;
          }
          .assignee-text {
            font-weight: 600;
            color: var(--color-text);
            margin-left: 15px;
          }
          .un-assigned-text {
            font-weight: 600;
            color: var(--color-secondary-text);
            margin-left: 10px;
          }
        }
      }
    }
    .area-wrapper {
      &:hover {
        background-color: var(--color-highlight);
      }
      display: flex;
      &.area-border {
        border-top: 1px solid var(--color-stroke);
        border-bottom: 1px solid var(--color-stroke);
      }
    }
    .task-title {
      flex: 1;
      margin: 20px;
      font-weight: 500;
      background-color: transparent;
    }
    .task-note {
      flex: 1;
      margin: 20px;
      font-weight: 500;
      background-color: transparent;
      &:hover {
        background-color: var(--color-highlight);
      }
    }
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}
