.create-ticket-modal {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
.create-task-view__container {
  display: flex;
  flex-direction: column;
  width: 580px;
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-lighter-background);
  .task_view__header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    .button-expand {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .task-view__status {
      display: flex;
      padding: 10px;
      border-radius: 5px;
      .task-status__check-box {
      }
      .task-status__name {
        margin-left: 15px;
        font-weight: 600;
      }
    }
  }
  .task__attachment-view {
    margin: 16px 16px 35px 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .attachment-item {
      position: relative;
      .attachment-image {
        width: auto;
        height: 90px;
        border-radius: 5px;
        max-width: 200px;
      }
      .attachment-delete {
        position: absolute;
        padding: 4px;
        right: -12px;
        top: -12px;
      }
      .attachment-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
  .task__tag-view {
    margin: 10px 20px 0 20px;
  }
  .task-title {
    margin: 20px 20px 0 20px;
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
  .task-note {
    margin: 10px 20px 0 20px;
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
  .task__actions {
    margin: 10px 20px 0 20px;
    display: flex;
    align-items: center;
    .task__due-date-container {
      position: relative;
    }
  }
  .task__bottom {
    margin: 30px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
  }
}
