.task-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid var(--color-stroke);

  .task-list__header {
    height: 60px;
    width: 100%;
    display: none;
    align-items: center;
    background-color: var(--color-lighter-background);
    .task-list__title {
      font-weight: 600;
      font-size: 16px;
      color: var(--color-primary-text);
    }
    .task-list__actions {
      display: flex;
      margin-right: 20px;
    }
    .icon-button__container {
      border: none;
      padding: 11px 15px;
    }
  }
  .task-list__body {
    flex-direction: column;
    display: flex;
    flex: 1;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}
