.list-team {
  display: flex;
  align-items: center;
  flex: 1;
  overflow-x: auto;
}

.action-right {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  .action-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--color-highlight);
  }
}

.team-item {
  display: flex;
  padding: 5px 8px;
  border-radius: 5px;
  align-items: center;
  margin-left: 10px;
  max-width: 200px;
  &.team-selected {
    background-color: var(--color-highlight-action-high);
  }
  .team-name {
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }
  &:hover {
    background-color: var(--color-stroke);
  }
}

.create-team-button {
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
