.started-container {
	display: flex;
	width: 100%;
	background-color: var(--color-darkest-background);
	height: 100vh;
	justify-content: center;
	.started-body {
		display: flex;
		width: 580px;
		background-color: var(--color-lighter-background);
		height: 100vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.started-info-view {
			display: flex;
			flex-direction: column;
			width: 335px;
		}
		.started-logo {
			width: 80px;
			height: 80px;
			border-radius: 40px;
		}
		.started-title {
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 40px;
			letter-spacing: 0px;
			text-align: left;
			color: var(--color-primary-text);
			margin-top: 30px;
		}
		.started-description {
			font-size: 16px;
			font-style: normal;
			line-height: 24px;
			letter-spacing: 0px;
			text-align: left;
			color: var(--color-secondary-text);
			margin-top: 40px;
			font-weight: 600;
		}
		.wallet-button {
			height: 60px;
			border-radius: 5px;
			background-color: var(--color-stroke);
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: var(--color-primary-text);
			font-size: 16px;
			font-weight: 600;
			margin-top: 70px;
			padding: 0 20px;
			width: 334px;
			& + .wallet-button {
				margin-top: 16px;
			}
			.wallet-icon {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.create-wallet-button {
			height: 60px;
			border-radius: 5px;
			background-color: var(--color-accent);
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-primary-text);
			font-size: 16px;
			font-weight: 600;
			margin-top: 70px;
			width: 334px;
		}
		.import-wallet-button {
			height: 60px;
			border-radius: 5px;
			background-color: var(--color-stroke);
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-primary-text);
			font-size: 16px;
			font-weight: 600;
			margin-top: 16px;
			width: 334px;
		}
	}
}
