.popup-channel__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-darkest-background);
  border-radius: 5px;
  width: 275px;
  overflow-y: auto;
  height: 80vh;
  position: relative;
  .search-channel {
    padding: 0 20px;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    background-color: var(--color-highlight);
    color: var(--color-secondary-text);
    border-bottom: 1px solid var(--color-stroke);
    position: fixed;
    width: 235px;
  }
  .channel-item {
    padding: 10px 10px 10px 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: var(--color-secondary-text);
    &:hover {
      border-radius: 0;
    }
    .channel-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 1;
      display: inline-block;
    }
  }
  .channel-item__active {
    background-color: var(--color-highlight);
  }
}
