.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-opacity-1);
    // backdrop-filter: blur(12px);
    .title {
      display: flex;
      align-items: center;
      height: 35px;
      margin-top: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-primary-text);
    }
    .filter-head {
      height: 50px;
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
    .btn-report {
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 10px;
      padding: 0 15px;
      color: white;
      background-color: #1159d5;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin-left: auto;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 659px) {
  .container {
    .header {
      position: relative;
      .title {
        padding-left: 20px;
        padding-right: 10px;
        margin-top: 0;
      }
      .filter-head {
        padding: 0 15px;
      }
    }
  }
}
