.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  .head {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--color-background-opacity-1);
    position: sticky;
    top: 0;
    z-index: 1;
    .btn-back {
      display: flex;
      align-items: center;
      height: 70px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-primary-text);
      span {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
        svg {
          background-color: var(--color-stroke);
          border-radius: 50%;
        }
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 70px;
    .metadata {
      border-radius: 10px;
      overflow: hidden;
      background-color: var(--color-background-6);
      border: 1px solid var(--color-stroke);
    }
    .list-cast {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      border-radius: 10px;
      border: 1px solid var(--color-stroke);
    }
  }
}

@media only screen and (max-width: 659px) {
  .container {
    .body {
      .metadata {
        border-radius: unset;
        border: none;
        border-bottom: 1px solid var(--color-stroke);
      }
      .list-cast {
        margin-top: 0;
        border: none;
      }
    }
  }
}
