.task__view {
  position: relative;
  background-color: var(--color-lighter-background);
  border: 1px solid var(--color-stroke);
  .task__header {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--color-stroke);
    display: flex;
    align-items: center;
    .task-view__status {
      display: flex;
      padding: 10px;
      border-radius: 5px;
      .task-status__check-box {
      }
      .task-status__name {
        margin-left: 15px;
        font-weight: 600;
      }
    }
  }

  .task__body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 190px);
    .task-title {
      padding: 20px;
      border-bottom: 1px solid var(--color-stroke);
    }
    .task-field__container {
      display: flex;
      padding: 15px 0;
      .task-field__title {
        font-size: 16px;
        font-weight: 700;
        color: var(--color-secondary-text);
        flex: 1;
      }
      .task-field__body {
        flex: 2;
        .task-field__body-button {
          padding: 10px;
          border-radius: 5px;
          display: inline;
        }
        .task-field__body__title {
          font-size: 16px;
          color: var(--color-secondary-text);
        }
      }
    }
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  .task__bottom {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-stroke);
    .task__bottom__input {
      color: var(--color-primary-text);
      flex: 1;
      font-size: 16px;
      margin-left: 5px;
      &::placeholder {
        color: var(--color-secondary-text);
      }
    }
  }
}
