.message-reply__container {
  display: flex;
  margin-top: 10px;
  .message-reply__avatar-view {
    display: flex;
    .message-reply__avatar {
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .message-reply__message {
    font-size: 16px;
    color: var(--color-primary-text);
    line-height: 26px;
    margin-left: 10px;
    white-space: pre-line;
  }
}
