.space-item__container {
  margin: 10px 10px 0 10px;
  border-radius: 5px;
  background-color: var(--color-lighter-background);
  padding: 10px 0;
  border: 1px solid var(--color-lighter-background);
  color: var(--color-secondary-text);
  &.space-open {
    color: var(--color-primary-text);
    border-color: var(--color-stroke);
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    .space-icon__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      width: 30px;
      height: 30px;
      background-color: var(--color-stroke);
      margin-right: 15px;
      position: relative;
      .space-icon {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        object-fit: cover;
      }
      .attachment-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
    &:hover {
      cursor: pointer;
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .channel-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 0 15px;
    border-radius: 5px;
    color: var(--color-secondary-text);
    transition: 200ms ease;
    overflow: hidden;
    opacity: 1;
    &.collapsed {
      height: 0;
      opacity: 0;
    }
    .img-private {
      filter: brightness(0.5);
    }
    .img-bell {
      filter: brightness(0.5);
      margin-left: 10px;
    }
    &.channel-muted {
      color: var(--color-highlight-action-high);
      .img-private {
        filter: brightness(0.2);
      }
      .img-bell {
        filter: brightness(0.2);
      }
    }
    &.channel-un-seen {
      color: var(--color-primary-text);
      height: 40px;
      opacity: 1;
      .img-private {
        filter: brightness(1);
      }
      .img-bell {
        filter: brightness(1);
      }
    }
    &:hover {
      cursor: pointer;
      background-color: var(--color-stroke);
      color: var(--color-primary-text);
      .img-private {
        filter: brightness(1);
      }
      .img-bell {
        filter: brightness(1);
      }
    }
    &.channel-selected {
      background-color: var(--color-highlight-action-high);
      color: var(--color-primary-text);
      height: 40px;
      opacity: 1;
      .img-private {
        filter: brightness(1);
      }
      .img-bell {
        filter: brightness(1);
      }
    }
    .channel-icon__wrapper {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .channel-icon {
        object-fit: cover;
        width: 20px;
        height: 20px;
        border-radius: 5px;
      }
      .attachment-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
    .channel-name {
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      color: inherit;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      margin-left: 10px;
      flex: 1;
    }
  }
}
