.page-content {
  font-size: 60px;
  color: var(--content-dark);
  line-height: 80px;
  display: block;
  letter-spacing: 1px;
  font-weight: 700;
}

.page-description {
  font-size: 25px;
  margin-top: 25px;
  display: block;
  line-height: 34px;
  color: var(--content-muted);
  font-weight: 600;
}

.btn-launch {
  display: flex;
  min-width: 180px !important;
  height: 48px !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
}
.page-actions {
  display: flex;
  margin-top: 50px;
}
.home-cta {
  min-width: 0;
  width: fit-content;
  height: 54px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  & + .home-cta {
    margin-left: 20px;
  }
}
.btn-download {
  display: none;
}

.page-1 {
  margin-top: 15.875rem;
  margin-bottom: 9.375rem;
  .page-description {
    max-width: 1000px;
  }
  .btn-join-community {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    .btn {
      line-height: 24px;
    }
    .btn-large {
      height: 65px;
      width: 324px;
    }
  }
  .video__wrap {
    position: relative;
    border-radius: 36px;
    margin-top: 150px;
    background-color: #000000;
    padding: 20px;
    padding-bottom: 13.5px;
    overflow: hidden;
    .video-element {
      border-radius: 18px;
      width: 100%;
      aspect-ratio: 1.426;
      background-color: #000000;
    }
    .video-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .btn-play-video {
        height: 54px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        background-color: var(--content-primary);
        border-radius: 10px;
        color: var(--content-dark);
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        .icon-play-dark {
          height: 18px;
          width: auto;
          margin-right: 15px;
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.page-2 {
  position: relative;
  margin-bottom: 200px;
  .page-content {
    font-size: 42px;
    line-height: 60px;
    color: var(--content-dark);
  }
  .page-2-body {
    display: flex;
    flex-direction: column;
    .faq-item {
      padding: 20px 30px;
      border-radius: 10px;
      border: 1px solid #efe9da;
      margin-bottom: 20px;
      margin-top: 0;
      .faq-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--content-muted);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        padding: 20px 30px;
        margin: -20px -30px;
        .ic-expand {
          width: 30px;
          height: 30px;
          rotate: 0deg;
          transition: rotate 0.4s ease;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .faq-content__wrap {
        max-height: 0;
        height: auto;
        transition: max-height 0.4s ease;
        overflow: hidden;
      }
      .faq-content {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: var(--content-muted-dark);
        margin-bottom: 0;
        margin-top: 20px;
        .para {
          display: block;
          margin-bottom: 5px;
        }
        .para-content-1 {
          display: block;
          margin-left: 16px;
          margin-bottom: 5px;
        }
        b {
          color: var(--content-muted-dark);
        }
      }
      &:first-child {
        margin-top: 50px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .faq-active {
      .faq-head {
        color: var(--content-dark);
        .ic-expand {
          rotate: 180deg;
        }
      }
      .faq-content__wrap {
        max-height: 500px;
      }
    }
  }
}

.space-dark {
  height: 9.5rem;
  background: var(--color-background-black);
  margin-top: -1px;
}

.page-title {
  font-weight: 700;
  color: var(--content-primary);
  font-size: 3.438rem;
  line-height: 4.125rem;
  display: block;
  text-align: center;
  letter-spacing: 1px;
}

.page-3 {
  background: linear-gradient(180deg, #fafafa 67.03%, #fffbf2 100%);
  padding-top: 10.625rem;
  padding-bottom: 16.875rem;
  .col-md-6 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .page-title {
    color: var(--content-dark);
    font-size: 2.625rem;
    line-height: 3.75rem;
    padding-bottom: 100px;
    text-align: start;
  }
  .page-3-card {
    position: relative;
    padding: 50px 35px;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: box-shadow 0.35s, transform 0.35s;
    display: flex;
    flex-direction: column;
    .img-addition-bottom {
      margin-bottom: 25px;
    }
    .img-web3-profile {
      width: calc(106% + 70px);
      height: auto;
      margin-top: -12px;
      margin-left: calc(-3% - 60px);
    }
    .img-everything {
      margin-bottom: 50px;
    }
    .img-multi-chain {
      margin-bottom: 50px;
      width: calc(116% - 10px);
      margin-left: calc(-8% + 5px);
    }
    .img-exclusive {
      width: 106%;
      margin-left: -5px;
      margin-top: -12px;
    }
    .card-image {
      width: calc(106% - 10px);
      height: auto;
      margin-top: -12px;
      margin-left: calc(-3% + 5px);
    }
    .card-title {
      font-weight: 700;
      font-size: 34px;
      line-height: 50px;
      color: var(--content-dark);
      margin-bottom: 0;
    }
    .card-description {
      font-size: 1.25rem;
      line-height: 2rem;
      color: var(--content-muted-dark);
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 0;
    }
    .btn-card {
      min-width: fit-content;
      margin-top: 50px;
      background-color: #ffffff;
      color: var(--content-dark);
      align-self: flex-start;
      padding: 0 20px 0 18px;
    }
    &:hover {
      transform: translateY(-1%);
      box-shadow: 0 14px 24px rgba(0, 0, 0, 0.15);
    }
  }
  .page-3-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25rem;
    .footer-title {
      font-size: 2.625rem;
      line-height: 3.75rem;
      font-weight: 700;
      color: var(--content-dark);
    }
    .footer-description {
      font-size: 1.563rem;
      line-height: 2.125rem;
      color: var(--content-muted);
      text-align: center;
      margin-top: 20px;
      margin-bottom: 44px;
    }
    .btn-large {
      min-width: 260px;
    }
  }
  .mockup-desktop {
    display: none;
  }
  .mockup-mobile {
    display: none;
  }
  .mockup-desktop-large {
    margin-top: 5rem;
    display: flex;
  }
  .content-mockup {
    font-size: 1.563rem;
    line-height: 2.125rem;
    color: var(--content-dark);
  }
  .description-mockup {
    color: var(--content-muted-dark);
  }
}

.page-4 {
  background: var(--color-background-black);
  padding-top: 5.938rem;
  padding-bottom: 5.938rem;
  .item-highlight {
    border-radius: 8px;
    background: var(--color-background-dark);
    padding: 3.438rem 2.5rem;
    position: relative;
  }
  .badge-item {
    width: 25px;
    height: 25px;
  }
  .badge-item + .badge-item {
    margin-left: 15px;
  }
  .mockup-exclusive__wrap {
    margin-top: 4.688rem;
  }
  .mockup-exclusive-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .mockup-exclusive {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .main-mockup {
    width: 100%;
  }
  .badge-list {
    margin-bottom: 1rem;
  }
  .content-mockup {
    color: var(--content-primary);
    font-size: 1.25rem;
    line-height: 1.688rem;
  }
  .description-mockup {
    color: var(--content-muted-dark);
  }
  .mockup-2 {
    margin-top: 1.25rem;
    .content-mockup {
      display: block;
    }
  }
  .mockup-collaborate {
    margin-bottom: 3.438rem;
    position: relative;
    .tag-ipfs {
      position: absolute;
      top: 14px;
      right: -38px;
      width: 112px;
      height: auto;
    }
  }
  .mockup-chat {
    margin-top: 3.438rem;
    max-width: 450px;
    position: relative;
  }
  .btn-add-to-site__wrap {
    position: absolute;
    left: 50%;
    bottom: -30px;
  }
  .btn-add-to-site {
    width: 14.5rem;
    height: 3.75rem;
    background: var(--color-background-light);
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--content-dark);
    font-weight: 700;
  }
}

.page-5 {
  background: var(--color-background-light);
  padding-top: 5.938rem;
  padding-bottom: 5.188rem;
  .page-title {
    color: var(--content-dark);
  }
  .features__wrap {
    margin-top: 2.063rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .item-feature__wrap {
    padding: 0.75rem;
  }
  .item-feature {
    border-radius: 15px;
    padding: 2.188rem 1.75rem 0 1.75rem;
    height: 230px;
    border: 1px solid #efe9da;
  }
  .icon-feature {
    height: 45px;
    width: auto;
  }
  .feature-content__wrap {
    margin-top: 2.5rem;
    font-size: 1rem;
  }
  .feature-title {
    color: var(--content-dark);
    line-height: 1.5rem;
  }
  .feature-description {
    color: var(--content-muted-dark);
  }
}

.page-6 {
  padding-top: 16.594rem;
  padding-bottom: 16.594rem;
  .page-title {
    color: var(--content-dark);
  }
  .page-description {
    font-size: 1.563rem;
    display: block;
    line-height: 2rem;
    color: var(--color-highlight);
    text-align: center;
    margin-top: 1.25rem;
    max-width: 930px;
  }
  .btn {
    margin-top: 2.75rem;
  }
  .button-desktop {
    display: flex;
  }
  .button-mobile {
    display: none;
  }
}

.buidler-modal-video {
  button.close {
    background-color: black;
    color: var(--content-primary);
    border: none;
    position: absolute;
    opacity: 0.6;
    top: -55px;
    right: -95px;
    width: 60px;
    height: 60px;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    line-height: 1.28571429;
    letter-spacing: normal;
    font-size: 30px;
    margin-bottom: 1rem;
    transition: all ease-in-out 0.1s;
    padding-bottom: 4px;
    font-weight: 500;
    &:hover {
      color: var(--content-primary) !important;
      opacity: 0.7;
    }
  }
  .modal {
    padding: 5rem !important;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal-dialog.modal-dialog-centered {
    height: 100%;
    width: 100%;
    max-width: 90%;
    margin: auto;
  }
  .modal-content {
    background-color: transparent;
    height: 100%;
    border: none;
  }
}

.fslightbox-source {
  &::after {
    content: attr("caption");
  }
}
