.home {
  height: 100vh;
  overflow-y: auto;
  background: var(--color-background-light);
  span {
    user-select: unset; /* standard syntax */
    -webkit-user-select: unset; /* webkit (safari, chrome) browsers */
    -moz-user-select: unset; /* mozilla browsers */
    -khtml-user-select: unset; /* webkit (konqueror) browsers */
    -ms-user-select: unset; /* IE10+ */
  }
}

.animate-text {
  transition: opacity 1000ms;
  opacity: 0;
}

a:hover {
  cursor: pointer;
  text-decoration: none !important;
}

.mockup-img {
  width: 22.378rem !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

#my-navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all ease-in-out 0.4s;
  height: 140px;
  background: var(--color-background-light);
  .cta-banner {
    height: 60px;
    width: 100%;
    background-color: #efe9da;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e5030;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
    .mention-string {
      color: var(--color-mention);
    }
    &:hover {
      .mention-string {
        text-decoration: underline;
      }
    }
  }
  @media only screen and (max-width: 576px) {
    .cta-banner {
      font-size: 14px;
      padding: 0 12px;
    }
  }
}

.hide {
  display: none !important;
}

.nav-logo-light {
  display: none;
  width: 112px;
  height: 32px;
}
.nav-logo-dark {
  display: block;
  width: 112px;
  height: 32px;
}

button[aria-expanded="true"] {
  .line-1 {
    height: 2px;
    width: 15px;
    transform: rotate(45deg);
  }
  .line-2 {
    height: 2px;
    width: 15px;
    transform: rotate(-45deg);
    margin-top: -2px;
  }
}

.icon-30 {
  width: 30px;
  height: 30px;
}

.side-menu {
  width: 30px;
  height: 30px;
  .line-1 {
    height: 2px;
    width: 18px;
    border-radius: 1px;
    background: var(--content-dark);
    transition: all ease 400ms;
  }
  .line-2 {
    height: 2px;
    width: 18px;
    border-radius: 1px;
    margin-top: 6px;
    background: var(--content-dark);
    transition: all ease 400ms;
  }
}

.nav-bar-dark {
  background-color: var(--color-background-black) !important;
  .side-menu {
    .line-1 {
      background: var(--content-primary);
    }
    .line-2 {
      background: var(--content-primary);
    }
  }
  .nav-logo-light {
    display: block;
  }
  .nav-logo-dark {
    display: none;
  }
  .nav-link.active {
    color: var(--content-primary);
  }
  .nav-link {
    color: var(--content-muted);
    &:hover {
      color: var(--color-branding-secondary);
    }
  }
}

.download {
  .nav-bar-dark {
    background-color: var(--content-dark) !important;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.nav-link.active {
  color: var(--content-dark);
}

.nav-link {
  color: var(--content-muted-dark);
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 600;
  &:hover {
    color: var(--color-branding-secondary);
  }
}

.navbar .nav-item .dropdown-menu {
  display: none;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.navbar .nav-item .dropdown-menu {
  margin-top: 0;
  background-color: var(--color-background-light);
  border: none;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.navbar .nav-item .dropdown-item {
  padding: 0.5rem 1.5rem;
  color: var(--content-dark);
  &:hover {
    background-color: var(--color-background-lighter);
  }
}

.btn-primary {
  color: var(--color-branding-accent-2) !important;
  background-color: var(--color-background-btn-primary) !important;
  &:hover {
    color: var(--color-branding-accent-2) !important;
    background-color: var(--color-background-btn-primary);
  }
  &:active {
    background-color: var(--color-background-btn-primary) !important;
    border: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.btn-secondary {
  color: var(--color-branding-accent-2) !important;
  background-color: var(--color-branding-secondary);
  &:hover {
    color: var(--color-branding-accent-2) !important;
    background-color: var(--color-branding-secondary);
  }
  &:active {
    background-color: var(--color-branding-secondary) !important;
    border: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.btn-feature-description {
  margin-top: 1.5625rem;
}

.btn-light {
  color: var(--content-dark) !important;
  background-color: var(--color-background-lighter);
  &:hover {
    color: var(--content-dark) !important;
    background-color: var(--color-background-lighter);
  }
}

.btn-normal {
  color: var(--color-branding-accent-2) !important;
  background-color: var(--color-stroke);
  &:hover {
    color: var(--color-branding-accent-2) !important;
    background-color: var(--color-stroke);
  }
}

.btn {
  min-width: 13.625rem;
  height: 4.063rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  line-height: 22px;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
}

.btn-large {
  min-width: 19.25rem;
  height: 4.063rem;
}

.row {
  .btn + .btn {
    margin-left: 25px;
  }
}

.btn-medium {
  min-width: 112px;
  width: 112px;
  height: 48px;
  font-size: 0.875rem;
}

.btn-small {
  min-width: 76px !important;
  width: 76px !important;
  height: 30px !important;
  font-size: 0.75rem !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal-button {
  &:hover {
    cursor: pointer;
  }
}

.page-footer {
  padding-top: 4.688rem;
  padding-bottom: 6.563rem;
  background: var(--color-background-dark);
  .logo-footer {
    height: 30px;
    width: auto;
  }
  .content-footer {
    color: var(--content-primary);
    font-size: 1.25rem;
    line-height: 1.625rem;
    display: block;
    letter-spacing: 0.2px;
    font-weight: 700;
  }
  .footer-icons {
    margin-top: 1.563rem;
    .icon {
      width: 20px;
      height: auto;
    }
    .icon__wrap + .icon__wrap {
      margin-left: 1.625rem;
    }
  }
  .embed-ph__wrap {
    margin-top: 2.75rem;
  }
  .footer-title {
    color: var(--content-primary);
    font-size: 1rem;
    line-height: 1.25rem;
    display: block;
    font-weight: 600;
  }
  .menu__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .footer-menu-item {
    padding: 0.75rem 0;
    color: var(--content-muted) !important;
    font-size: 1rem;
    line-height: 1.25rem;
    display: block;
    font-weight: 600;
    display: inline-block;
    &:hover {
      color: var(--color-branding-secondary) !important;
      cursor: pointer;
    }
  }
}

.page-copyright {
  background: var(--content-dark);
  padding: 1.563rem 0;
  .content-copyright {
    color: var(--content-muted);
    font-size: 0.938rem;
    line-height: 1.25rem;
  }
  .content-email-mobile {
    display: none;
  }
  .content-email {
    display: block;
  }
  .link-copyright:hover {
    cursor: pointer;
    color: var(--content-primary) !important;
  }
  .splash-separate {
    margin: 0 5px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

span {
  &::selection {
    background-color: #e0dfdb;
  }
}

b {
  color: var(--content-dark);
}

.highlight-dark {
  &::selection {
    background-color: var(--color-stroke);
  }
}

.content-footer,
.footer-title,
.footer-menu-item {
  &::selection {
    background-color: var(--color-stroke);
  }
}

::-webkit-scrollbar {
  display: none;
}

.hide-desktop {
  display: none;
}

@media only screen and (max-width: 576px) {
  .hide-desktop {
    display: block;
  }
}
