.space-detail__container {
  position: relative;
  background-color: var(--color-lighter-background);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow: auto;
  .space-info__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    .cover {
      height: 150px;
      border-radius: 5px;
      margin: 0 10px;
    }
    .space-avatar__wrap {
      position: absolute;
      top: 117px;
      left: 25px;
      width: 110px;
      height: 110px;
      border-radius: 15px;
      border: 5px solid var(--color-stroke);
      background-color: var(--color-lighter-background);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .space-icon {
        width: 110px;
        height: 110px;
      }
    }
    .avatar_off {
      display: none;
    }
    .space-name__wrap {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 165px;
      .emoji-mart-emoji {
        margin-right: 10px;
      }
      .space-name {
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
      }
    }
    .space-member__wrap {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-left: 165px;
      .member-label {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        color: var(--color-secondary-text);
      }
      .member-count {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: var(--color-primary-text);
        margin-left: 10px;
      }
    }
    .no-avatar {
      margin-left: 25px;
    }
  }
  .space-condition__wrap {
    margin-top: 30px;
    padding: 0 25px;
    .condition-label {
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      color: var(--color-secondary-text);
    }
  }
  .space-member__wrap {
    margin: 23px 18px 30px 18px;
    display: flex;
    flex-wrap: wrap;
  }
  .space-description__wrap {
    margin-top: 30px;
    padding: 0 25px;
  }
  .space-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-primary-text);
    white-space: break-spaces;
  }
}

.condition-item__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  .condition-nft__wrap {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    outline: 1px solid var(--color-stroke);
    background-color: var(--color-highlight);
    .collection-logo {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      margin-left: 20px;
    }
    .collection-name {
      color: var(--color-primary-text);
      margin-left: 20px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
    }
    .button-get {
      margin: 0 10px;
      color: var(--color-mention);
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }
  .condition-description {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-secondary-text);
  }
}

.space-member-item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 122px;
  padding: 12px 10px;
  background-color: var(--color-highlight);
  border-radius: 5px;
  margin: 7px;
  .member-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
  .member-user-name {
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: var(--color-primary-text);
    max-width: 100px;
  }
}
