.member-space__container {
  margin: 10px;
  border-radius: 5px;
  background-color: var(--color-lighter-background);
  padding: 10px 0;
  border: 1px solid var(--color-stroke);
  color: var(--color-primary-text);
  .title-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      width: 30px;
      height: 30px;
      background-color: var(--color-stroke);
      margin-right: 15px;
      position: relative;
    }
    .space-icon {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      margin-right: 15px;
    }
    &:hover {
      cursor: pointer;
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .fake-member-child {
    transition: 100ms ease;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  .fake-member-child-open {
    height: 40px;
    opacity: 1;
  }

  .member-child-invite {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 10px;
    border-radius: 5px;
    color: var(--color-secondary-text);
  }

  &.space-collapsed {
    border: 1px solid var(--color-lighter-background);
    color: var(--color-secondary-text);
    .member-child-container {
      height: 0;
      opacity: 0;
    }
  }
}
