.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  .head {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--color-background-opacity-1);
    position: sticky;
    top: 0;
    z-index: 1;
    .btn-back {
      display: flex;
      align-items: center;
      height: 70px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-primary-text);
      .icon-wrap {
        width: 30px;
        height: 30px;
      }
      span {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
        .icon-wrap {
          background-color: var(--color-stroke);
          border-radius: 50%;
        }
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
  }
  .user-wrap {
    display: flex;
    flex-direction: column;
    .user-head {
      display: flex;
      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        flex: 1;
        .name-wrap {
          display: flex;
          align-items: flex-end;
          gap: 5px;
          .name {
            font-size: 16px;
            font-weight: 700;
            color: var(--color-primary-text);
          }
          .username {
            font-size: 15px;
            color: var(--color-secondary-text);
          }
        }
        .user-relate-info {
          display: flex;
          align-items: center;
          column-gap: 40px;
          row-gap: 2px;
          margin-top: 2px;
          flex-wrap: wrap;
          .relate-item {
            display: flex;
            align-items: center;
            gap: 4px;
            .main-text {
              font-size: 16px;
              font-weight: 600;
              color: var(--color-primary-text);
            }
            .sub-text {
              font-size: 16px;
              font-weight: 400;
              color: var(--color-secondary-text);
            }
          }
        }
      }
    }
    .bio {
      margin-top: 10px;
      color: var(--color-primary-text);
      font-size: 16px;
      :global(.mention-string) {
        color: var(--color-mention);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .analytic-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    .activity-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .filter {
        display: flex;
        align-items: center;
        gap: 15px;
        .filter-item {
          height: 30px;
          padding: 0 12px;
          border-radius: 10px;
          color: var(--color-secondary-text);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          line-height: 19px;
          font-weight: 600;
          &:hover {
            color: var(--color-primary-text);
            background-color: var(--color-stroke);
            cursor: pointer;
          }
          &.active {
            color: var(--color-primary-text);
            background-color: var(--color-stroke);
          }
        }
      }
    }
    .activities {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 15px;
      .activity-item {
        width: 138px;
        padding: 10px;
        border: 1px solid var(--color-stroke);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .activity-label {
          font-size: 13px;
          font-weight: 500;
          line-height: 20px;
          color: var(--color-secondary-text);
        }
        .activity-total {
          font-size: 22px;
          font-weight: 700;
          color: var(--color-primary-text);
          line-height: 32px;
          flex: 1;
          display: flex;
          align-items: center;
          min-height: 50px;
        }
        .activity-changed {
          display: flex;
          align-items: center;
          font-size: 14px;
          margin-left: -4px;
        }
      }
    }
    .charts {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 15px;
      .chart-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 292px;
        height: 200px;
      }
    }
  }
  .label {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary-text);
  }
}

@media only screen and (max-width: 659px) {
  .container {
    .head {
      padding: 0 15px;
      height: 60px;
    }
    .body {
      padding: 0 15px;
    }
    .user-wrap .user-head .user-info .user-relate-info {
      column-gap: 10px;
    }
    .analytic-wrap .charts .chart-item {
      width: 100%;
    }
  }
}
