.message-head__container {
  display: flex;
  padding: 10px 0;
  .message-head__avatar-view {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    .message-head__avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  .message-head__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    .message-head__user-name {
      font-weight: 600;
      font-size: 16px;
      color: var(--color-primary-text);
    }
    .message-head__message {
      font-size: 16px;
      color: var(--color-primary-text);
      line-height: 26px;
      white-space: pre-line;
    }
    .message-head__user {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
    .message-head__message {
      margin-top: 8px;
      margin-left: 20px;
    }
  }
}
