.create-space__container {
  width: 530px;
  height: 633px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-lighter-background);
  padding: 25px 25px 20px 25px;
  .label__wrap {
    margin-top: 15px;
    display: flex;
    align-items: center;
    .label {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: var(--color-primary-text);
    }
    .space-icon__wrapper {
      margin-right: 15px;
      background-color: transparent;
      width: 30px;
      height: 30px;
      .space-icon {
        width: 30px;
        height: 30px;
        border-radius: 8px;
      }
    }
  }
  .create-space__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.space-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  background-color: var(--color-stroke);
  position: relative;
  .space-icon {
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
  .attachment-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.space-information__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 30px;
  .title__wrap {
    display: flex;
    align-items: center;
  }
  .space-description__wrap {
    position: relative;
    display: flex;
    .space-description {
      margin-top: 15px;
      background-color: var(--color-hight);
      padding: 0 20px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      color: var(--color-primary-text);
      background-color: var(--color-highlight);
      border-radius: 5px;
      outline: 1px solid var(--color-stroke);
      border-top: 16px solid transparent;
      border-bottom: 50px solid transparent;
      flex: 1;
      &::placeholder {
        color: var(--color-secondary-text);
      }
      &:focus {
        outline-color: var(--color-highlight-action-high);
      }
    }
    .description-limit {
      height: 50px;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px;
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      color: var(--color-secondary-text);
    }
  }
}

.space-config__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 30px;
  .space-type__wrap {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-highlight);
    .space-type {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      color: var(--color-secondary-text);
      & + .space-type {
        margin-left: 20px;
      }
      &.active {
        background-color: var(--color-highlight-action-high);
        color: var(--color-primary-text);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .space-type-description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-secondary-text);
  }
  .space-badge-color__wrap {
    margin-top: 40px;
    display: flex;
    align-items: center;
    .space-config-label {
      margin-right: 15px;
    }
    .badge-item {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      & + .badge-item {
        margin-left: 15px;
      }
      &:hover {
        cursor: pointer;
        background-color: var(--hover-background);
      }
    }
  }
  .space-config-label {
    font-weight: 600;
    line-height: 26px;
    font-size: 16px;
    color: var(--color-secondary-text);
  }
  .space-condition__wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    .input-contract__wrap {
      position: relative;
      margin-top: 15px;
      .input-contract {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        padding: 0 20px;
        height: 50px;
        color: var(--color-primary-text);
        &::placeholder {
          color: var(--color-secondary-text);
        }
        border-left: 50px solid var(--color-stroke);
        border-right: 50px solid transparent;
        width: calc(100% - 140px);
      }
      .logo-contract__wrap {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        .logo-contract {
          width: 30px;
          height: 30px;
          border-radius: 15px;
          background-color: var(--color-highlight-action-high);
        }
      }
      .button-paste {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 600;
        color: var(--color-secondary-text);
        &:hover {
          cursor: pointer;
        }
      }
      .button-clear {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .space-condition-description {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      color: var(--color-secondary-text);
      margin-top: 15px;
    }
    .token-list {
      display: flex;
      align-items: center;
      margin-top: 15px;
      overflow-x: auto;
    }
    .token-container {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      background-color: var(--color-stroke);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:hover {
        cursor: pointer;
        background-color: var(--color-highlight-action-high);
      }
      & + .token-container {
        margin-left: 15px;
      }
      .token-icon {
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
      .token-tooltip {
        font-weight: 500;
        color: var(--color-primary-text);
        background-color: var(--color-stroke);
        height: 30px;
        padding: 0 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 22px;
      }
    }
    .amount-input__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      .input-label {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        color: var(--color-secondary-text);
      }
      .amount-input__wrap {
        display: flex;
        align-items: center;
        .input-item {
          width: 60px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          font-weight: 500;
          color: var(--color-secondary-text);
          font-size: 14px;
          line-height: 22px;
          background-color: var(--color-highlight);
          & + .input-item {
            margin-left: 10px;
          }
          &:hover {
            color: var(--color-primary-text);
            cursor: pointer;
            background-color: var(--color-highlight-action-high);
          }
          &.active {
            color: var(--color-primary-text);
            background-color: var(--color-highlight-action-high);
          }
        }
        .app-input-highlight {
          height: 40px;
          width: 95px;
          padding: 0 10px;
          text-align: center;
          margin-left: 10px;
        }
      }
    }
  }
}
