.create-password-modal {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.modal__container {
  display: flex;
  flex-direction: column;
  width: 580px;
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-lighter-background);
  padding: 40px 25px 20px 25px;
}

.password__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
}

.modal-state__container {
  display: flex;
  flex-direction: column;
  .title {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-primary-text);
    text-transform: capitalize;
  }
  .clear-button {
    padding: 5px;
    border-radius: 5px;
    margin-right: -5px;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-secondary-text);
    align-self: flex-end;
  }
  .description {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary-text);
    margin-top: 26px;
  }
  .input-password__wrapper {
    position: relative;
    margin-top: 54px;
  }
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-primary-text);
  }
  .recommend-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .sub-text {
    color: var(--color-secondary-text);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
  .match {
    color: var(--color-primary-text);
  }
  .password-level {
    display: flex;
    align-items: center;
  }
  .password-des {
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-secondary-text);
    line-height: 24px;
    text-decoration: underline;
  }
}

.seed-container {
  margin-top: 26px !important;
}

.seed-item {
  padding: 4px 8px;
  background-color: var(--color-highlight-action-high);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary-text);
}

.seed-item-empty {
  padding: 4px 8px;
  background-color: var(--color-highlight);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-text);
}

.seed-item-confirm {
  padding: 4px 8px;
  background-color: var(--color-highlight-action-high);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-text);
  &.selected {
    color: var(--color-highlight-action-high);
    background-color: var(--color-stroke);
  }
}

.copy-button {
  display: flex;
  align-items: center;
  margin-top: 26px;
  &:hover {
    cursor: pointer;
  }
  .copy-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-secondary-text);
    margin-left: 15px;
  }
}
