.home-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  .home-body {
    display: flex;
    width: calc(100% - 275px);
    height: 100%;
    .dapp-browser__container {
      display: flex;
      flex-direction: column;
      flex: 1;
      box-shadow: 0 0 0 1px var(--color-stroke);
      position: relative;
    }
  }
}
