.user-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px 0 25px;
  &:hover {
    cursor: pointer;
  }
  .user-name {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--color-secondary-text);
    &.selected {
      color: var(--color-primary-text);
    }
  }
}
