.content-side {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  position: relative;
  .dapp-iframe-full {
    width: 100%;
  }
  .space-bottom {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-color: var(--color-darkest-background);
  }
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-text);
    background-color: var(--color-lighter-background);
  }
}
.chat-box__container {
  padding: 0 10px;
  width: 410px;
  height: 100%;
  background-color: var(--color-darkest-background);
  .chat-box {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-lighter-background);
    height: calc(100% - 10px);
  }
}
