.task-header-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
  .task-count {
    height: 30px;
    min-width: 18px;
    border-radius: 5px;
    background-color: var(--color-highlight);
    color: var(--color-secondary-text);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    margin-right: 20px;
  }
  .task-header__icon {
    margin-left: 23px;
  }
  .task-header-label__wrapper {
    display: flex;
    align-items: center;
    .task-header__label {
      padding: 6px 10px;
      border-radius: 5px;
      background-color: var(--color-highlight);
      font-weight: 600;
      font-size: 16px;
      margin-left: 18px;
      display: flex;
      align-items: center;
    }
    .user-name {
      margin-left: 14px;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: var(--color-primary-text);
    }
    .create-task-button {
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-left: 10px;
      img {
        display: none;
      }
    }
    &:hover {
      cursor: pointer;
      .create-task-button {
        img {
          display: block;
        }
      }
    }
  }
  .backlog {
    color: var(--color-primary-text);
    border: none;
  }
  .archived {
    color: var(--color-secondary-text);
  }
  .doing {
    color: var(--color-medium);
  }
  .urgent {
    color: var(--color-urgent);
  }
  .done {
    color: var(--color-success);
  }
  .todo {
    color: var(--color-primary-text);
  }
}
