.list-team {
  display: flex;
  align-items: center;
  flex: 1;
  overflow-x: auto;
  &:hover {
    .create-team-button {
      display: flex;
    }
  }
}

.action-right {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  .action-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--color-highlight);
  }
  .icon-notification__wrap {
    width: 34px;
    height: 34px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    position: relative;
    .badge-unread {
      position: absolute;
      top: 5.5px;
      right: 5.5px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1.5px solid var(--color-lighter-background);
      background-color: var(--color-mention);
    }
    &:hover {
      background-color: var(--color-stroke);
      .badge-unread {
        border: 1.5px solid var(--color-stroke);
      }
      cursor: pointer;
    }
  }
  .user-setting__wrap {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 10px;
    max-width: 200px;
    &:hover {
      cursor: pointer;
      background-color: var(--color-stroke);
    }
    .user-name {
      margin-right: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: var(--color-primary-text);
    }
  }
}

.team-item {
  display: flex;
  padding: 5px 8px;
  border-radius: 10px;
  align-items: center;
  margin-left: 10px;
  max-width: 200px;
  &.team-selected {
    background-color: var(--color-highlight-action-high);
    .team-icon-mini__wrap {
      .badge-unseen {
        border-color: var(--color-highlight-action-high);
      }
    }
  }
  .team-name {
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }
  &:hover {
    background-color: var(--color-stroke);
    .team-icon-mini__wrap {
      .badge-unseen {
        border-color: var(--color-stroke);
      }
    }
    cursor: pointer;
  }
}

.btn-create-community {
  background-color: var(--color-stroke);
  height: 30px;
  padding: 0 8px;
  &:hover {
    cursor: pointer;
    background-color: var(--color-highlight-action-high);
  }
}

.create-team-button {
  min-width: 30px;
  min-height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.team-icon-mini__wrap {
  position: relative;
  margin-right: 8px;
  display: flex;
  .badge-unseen {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1.5px solid var(--color-lighter-background);
    background-color: var(--color-mention);
  }
}
