.task-detail__container {
  position: relative;
  .task-detail__view {
    width: calc((100% - 275px) / 2);
    position: relative;
    background-color: var(--color-lighter-background);
    margin-left: 275px;
    border: 1px solid var(--color-stroke);
    .task-detail__header {
      height: 80px;
      width: 100%;
      border-bottom: 1px solid var(--color-stroke);
      display: flex;
      align-items: center;
      .task-detail__title {
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
      }
    }

    .task-detail__body {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      width: 100%;
      height: calc(100vh - 80px);
      .task-detail__task {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid var(--color-stroke);
        .task-detail__task-name {
          font-size: 16px;
          color: var(--color-primary-text);
          line-height: 22px;
        }
      }
      &::-webkit-scrollbar-track {
        display: none;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }
  }
}
.task-detail__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-backdrop);
}
