.action-popup__container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-darkest-background);
  border-radius: 5px;
  width: 240px;
  .action__item {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action-name {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
