.container {
  display: flex;
  justify-content: center;
  background-color: var(--color-background-1);
  position: relative;
  width: 100%;
  .left-side {
    width: 275px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    .brand-wrap {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: var(--color-primary-text);
      &:hover {
        background-color: unset;
      }
    }
    .avatar-wrap {
      display: none;
      align-items: center;
      justify-content: center;
    }

    .extension-description-container {
      background-color: var(--color-background-6);
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      border: 1px solid var(--color-stroke);
      .extension-description {
        color: var(--color-secondary-text);
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
      }
      .cta {
        display: flex;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        color: var(--color-mention);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .menus {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .menu-item {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    font-size: 16px;
    white-space: nowrap;
    @media (hover: hover) {
      &:hover {
        border-radius: 25px;
        background-color: var(--color-stroke);
        cursor: pointer;
      }
    }
  }

  .beta-tag {
    padding: 4px 8px;
    background-color: var(--color-bg-blue);
    border-radius: 3px;
    color: var(--accent-blue);
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
  }

  .side-border {
    border-left: 1px solid var(--color-stroke);
    border-right: 1px solid var(--color-stroke);
  }

  .page-container {
    width: 600px;
    min-height: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    .nav-mobile-wrap {
      display: none;
      flex-direction: column;
      position: sticky;
      height: fit-content;
      top: 0;
      background-color: var(--color-background-opacity-1);
      z-index: 2;
      .menus {
        overflow: hidden;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        max-height: 0;
        height: fit-content;
        transition: all ease 300ms;
        background-color: var(--color-background-opacity-1);
      }
      .menu-item {
        margin-top: 0;
      }
      .avatar-wrap {
        display: none;
      }
      .nav-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        .mobile-brand-wrap {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          color: var(--color-primary-text);
          padding: 0 20px;
          height: 60px;
        }
        .side-menu {
          width: 40px;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 5px;
          margin: 0 10px;
          .line-1 {
            height: 2px;
            width: 18px;
            border-radius: 1px;
            background-color: var(--color-primary-text);
            transition: all ease 400ms;
          }
          .line-2 {
            height: 2px;
            width: 18px;
            border-radius: 1px;
            margin-top: 6px;
            background-color: var(--color-primary-text);
            transition: all ease 400ms;
          }
        }
      }
    }
    .nav-mobile-wrap-on {
      .menus {
        max-height: 500px;
      }
      .nav-mobile .side-menu {
        .line-1 {
          height: 2px;
          width: 15px;
          transform: rotate(45deg);
        }
        .line-2 {
          height: 2px;
          width: 15px;
          transform: rotate(-45deg);
          margin-top: -2px;
        }
      }
    }
  }

  .right-side {
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 0;
    height: 100vh;
    .user-info {
      display: flex;
      align-items: center;
      color: var(--color-primary-text);
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      height: 60px;
      padding: 0 20px;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  .btn-login {
    display: flex;
    align-items: center;
    color: var(--color-primary-text);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    height: 60px;
    padding: 0 20px;
    white-space: nowrap;
    cursor: pointer;
  }

  .avatar {
    background-color: var(--color-background-3);
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .login__wrap {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #00000040;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    z-index: 2;
  }
}

@media only screen and (max-width: 1120px) {
  .container {
    width: 100%;
    .right-side {
      .user-info span {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: fit-content;
    .left-side {
      flex: 1;
      width: unset;
      .extension-description-container {
        display: none;
      }
      .avatar-wrap {
        display: flex;
        cursor: pointer;
      }
      .menu-item {
        padding: 0 10px;
        span {
          display: none;
        }
      }
    }
    .right-side {
      .user-info,
      .btn-login {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 659px) {
  .container {
    .left-side,
    .right-side {
      width: 0;
      overflow: hidden;
    }
    .page-container {
      width: 100vw;
      border: none;
      .nav-mobile-wrap {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .container {
    height: unset;
    .login__wrap {
      padding: 0 12px;
    }
  }
}
