.date-picker-container {
  background-color: var(--color-darkest-background);
  border: 1px solid var(--color-stroke);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;

  .action-button {
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: var(--color-primary-text);
    padding: 0 10px;
    border-radius: 5px;
  }
}
