.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-opacity-1);
    // backdrop-filter: blur(12px);
    .title {
      display: flex;
      align-items: center;
      height: 35px;
      margin-top: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-secondary-text);
    }
    .filter-head {
      height: 50px;
      display: flex;
      align-items: center;
      column-gap: 15px;
      .filter-item {
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 12px;
        border-radius: 10px;
        color: var(--color-secondary-text);
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-transform: capitalize;
        cursor: pointer;
      }
      .filter-item:hover,
      .filter-active {
        background-color: var(--color-stroke);
        color: var(--color-primary-text);
      }
    }
  }
  .list {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 659px) {
  .container {
    .header {
      .title {
        padding-left: 20px;
        padding-right: 10px;
      }
      .filter-head {
        padding: 0 15px;
      }
    }
  }
}
