.wallet-setting-modal {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.wallet-setting__container {
  display: flex;
  height: 680px;
  width: 855px;
  border-radius: 5px !important;
  border: 1px solid var(--color-stroke);
  .left-side {
    position: relative;
    width: 275px;
    height: 100%;
    background-color: var(--color-darkest-background);
    border-right: 1px solid var(--color-stroke);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    .group-setting-title {
      padding: 10px 20px;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-secondary-text);
      font-weight: 600;
    }
    .ic-notification {
      width: 25px;
      height: 25px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .setting-item {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      color: var(--color-secondary-text);
      &.active {
        background-color: var(--color-highlight);
        color: var(--color-primary-text);
      }
      &:hover {
        cursor: pointer;
        background-color: var(--color-highlight);
        color: var(--color-primary-text);
      }
    }
    .setting-label {
      font-weight: 600;
      margin-left: 15px;
      font-size: 16px;
      line-height: 19px;
      flex: 1;
    }
    .log-out__wrapper {
      display: flex;
      align-items: center;
      padding: 8px 20px;
      color: var(--color-secondary-text);
      &:hover {
        cursor: pointer;
        background-color: var(--color-highlight);
        color: var(--color-primary-text);
      }
      .log-out-text {
        font-size: 16px;
        line-height: 19px;
        margin-left: 15px;
        font-weight: 600;
      }
    }
  }
  .body {
    display: flex;
    background-color: var(--color-lighter-background);
    flex: 1;
    padding: 40px 25px 20px 25px;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
    .setting-balance__container {
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .user-name__wrapper {
          display: flex;
          align-items: center;
          .user-name {
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            color: var(--color-primary-text);
            margin-left: 10px;
          }
        }
        .address__wrapper {
          display: flex;
          align-items: center;
          padding: 5px 10px;
          background-color: var(--color-highlight);
          border-radius: 5px;
          border: 1px solid var(--color-stroke);
          .address {
            font-size: 12px;
            line-height: 20px;
            font-weight: 500;
            color: var(--color-primary-text);
            margin-right: 10px;
          }
        }
      }
      .balance-main {
        align-self: center;
        margin-top: 40px;
        font-size: 42px;
        font-weight: 700;
        color: var(--color-primary-text);
      }
      .balance-usd {
        margin-top: 10px;
        align-self: center;
        font-size: 20px;
        line-height: 24px;
        color: var(--color-secondary-text);
        font-weight: 700;
      }
      .action-wrapper {
        display: flex;
        align-self: center;
        align-items: center;
        margin-top: 35px;
        .action-item {
          height: 40px;
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background-color: var(--color-stroke);
          .action-label {
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            margin-left: 10px;
            color: var(--color-primary-text);
          }
          & + .action-item {
            margin-left: 20px;
          }
        }
      }
      .token__wrapper {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        .token-item {
          display: flex;
          align-items: center;
          height: 50px;
          justify-content: space-between;
          padding: 0 15px;
          .img-symbol {
            width: 30px;
            height: 30px;
            border-radius: 15px;
          }
          .token-name__wrapper {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            flex: 1;
            .symbol {
              text-transform: uppercase;
              font-size: 16px;
              line-height: 26px;
              font-weight: 600;
              color: var(--color-primary-text);
            }
            .name {
              text-transform: capitalize;
              font-size: 12px;
              line-height: 20px;
              color: var(--color-secondary-text);
              font-weight: 500;
            }
          }
          .balance__wrapper {
            display: flex;
            flex-direction: column;
            .main {
              font-size: 16px;
              line-height: 26px;
              font-weight: 600;
              color: var(--color-primary-text);
            }
            .usd {
              font-size: 12px;
              line-height: 20px;
              color: var(--color-secondary-text);
              font-weight: 500;
            }
          }
          & + .token-item {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
