.empty__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-lighter-background);
  .page-body {
    flex: 1;
    display: flex;
    .side-bar-view {
      height: 100%;
      width: 275px;
      border-right: 1px solid var(--color-stroke);
      background-color: var(--color-darkest-background);
    }
  }
}
