.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid var(--color-highlight-action-high);
  border-right: 1px solid var(--color-highlight-action-high);
  .head {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--color-background-opacity-1);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 15px;
    .btn-back {
      display: flex;
      align-items: center;
      height: 70px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: var(--color-primary-text);
      .icon-wrap {
        width: 30px;
        height: 30px;
      }
      span {
        margin-left: 10px;
      }
      &:hover {
        cursor: pointer;
        .icon-wrap {
          background-color: var(--color-stroke);
          border-radius: 50%;
        }
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .tabs {
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 10px;
    padding: 0 20px;
    .btn-tab {
      cursor: pointer;
      height: 31px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-radius: 7.5px;
      color: var(--color-mute-text);
    }
    .btn-active {
      background-color: var(--color-stroke);
      color: var(--color-primary-text);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 659px) {
  .container {
    .head {
      height: 60px;
    }
    .body {
    }
  }
}
