.avatar-upload__container {
  width: 353px;
  height: 353px;
  display: flex;
  flex-direction: column;
  .button-upload {
    width: 91px;
    min-height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--color-stroke);
    margin: 20px;

    position: relative;
  }
  .icon-camera {
    position: absolute;
    right: -8px;
    top: -8px;
  }
  .upload-label {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--color-secondary-text);
    white-space: pre-line;
    padding: 0 15px;
    text-align: center;
  }
  .recent__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    .recent-label {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      margin-left: 20px;
      color: var(--color-secondary-text);
    }
    .recent-photos {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
    }
    .photo-item {
      margin: 20px 0 0 20px;
    }
  }
}
