.text-field-container {
  padding: 10px;
  background-color: var(--color-highlight-action);
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  display: flex;
  align-items: center;
  .text-input {
    flex: 1;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    &::placeholder {
      font-weight: 500;
      color: var(--color-secondary-text);
    }
  }
  .right-button {
    padding: 10px 23px;
    background-color: var(--color-highlight-action-high);
    border-radius: 5px;
    color: var(--color-primary-text);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    &.disabled {
      background-color: var(--color-stroke);
      color: var(--color-secondary-text);
    }
  }
}
