.emoji-avatar-picker__container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-lighter-background);
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  .picker-title__wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-stroke);
    .picker-title {
      padding: 10px;
      font-size: 16px;
      line-height: 26px;
      color: var(--color-secondary-text);
      font-weight: 600;
      &.selected,
      :hover {
        color: var(--color-primary-text);
      }
      & + .picker-title {
        margin-left: 5px;
      }
    }
    .random-button {
      padding: 10px;
      color: var(--color-secondary-text);
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
