.toast-notification__container {
  width: 400px;
  height: 90px;
  border-radius: 5px;
  background-color: var(--color-highlight);
  border: 1px solid var(--color-stroke);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .toast-notification__title {
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .title-error {
    color: var(--color-urgent);
  }

  .title-success {
    color: var(--color-success);
  }

  .toast-notification__message {
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
  }

  .btn-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}
