.unlock-private-key__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-darkest-background);
  height: calc(100vh - 50px);
  // justify-content: center;
  align-items: center;
  .avatar {
    background-color: var(--color-stroke);
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-top: 220px;
  }
  .user-name {
    color: var(--color-primary-text);
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    margin-top: 15px;
  }
  .input-password {
    background-color: var(--color-highlight);
    width: 280px;
    height: 50px;
    border-radius: 5px;
    color: var(--color-primary-text);
    font-size: 16px;
    font-weight: 600;
    margin-top: 35px;
    text-align: center;
    padding: 0 10px;
    &::placeholder {
      color: var(--color-secondary-text);
    }
  }
  .add-other-button {
    padding: 15px;
    margin: 15px;
    color: var(--color-secondary-text);
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
}
