.App {
  text-align: center;
}

.main-load-page {
  background-color: var(--color-lighter-background);
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-flex {
  min-width: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

textarea {
  font-weight: 600;
}

a {
  color: var(--color-mention);
  text-decoration: none;
  &:focus {
    color: var(--color-mention);
  }
  &:hover {
    text-decoration: underline;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// user status

.online {
  width: 12px;
  height: 12px;
  background-color: var(--color-success);
  border-radius: 50%;
  border: 2px solid var(--color-darkest-background);
}

.silent {
  width: 8px;
  height: 8px;
  background-color: var(--color-medium);
  border-radius: 50%;
  border: 2px solid var(--color-darkest-background);
}

.offline {
  display: none;
}

// task status

.backlog {
  color: var(--color-primary-text);
}
.todo {
  color: var(--color-secondary-text);
}
.archived {
  color: var(--color-secondary-text);
}
.doing {
  color: var(--color-medium);
}
.urgent {
  color: var(--color-urgent);
}
.done {
  color: var(--color-success);
}

.App-link {
  color: #61dafb;
}

.team-icon {
  width: auto;
  height: 50px;
  border-radius: 10px;
}

.team-icon-mini {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.display-none {
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPickersBasePicker-container {
  background-color: var(--color-lighter-background) !important;
}

.MuiPaper-root {
  background-color: transparent !important;
  color: var(--color-primary-text) !important;
}
.MuiPickersCalendarHeader-dayLabel {
  color: var(--color-primary-text) !important;
}

.MuiSvgIcon-root {
  fill: var(--color-primary-text) !important;
}

.MuiPickersCalendarHeader-iconButton {
  background-color: var(--color-lighter-background) !important;
  &:hover {
    background-color: var(--color-highlight-action) !important;
  }
}
.MuiCircularProgress-colorPrimary {
  color: var(--color-success) !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: rgb(182, 188, 226) !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: var(--color-accent) !important;
}

.SRLImage {
  transition: none !important;
}

.emoji-mart-category-list {
  display: block;
}

.hide-scroll-bar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.emoji-mart-scroll {
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.app-input-highlight {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-primary-text);
  width: calc(100% - 40px);
  padding: 16px 20px;
  background-color: var(--color-highlight);
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--color-stroke);
  &::placeholder {
    color: var(--color-secondary-text);
  }
  &:focus {
    box-shadow: 0 0 0 1px var(--color-highlight-action-high);
  }
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.modal-container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  background-color: var(--color-backdrop);
}

.normal-modal {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  background-color: var(--color-backdrop);
  .modal-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--color-primary-text);
  }
}

.setting-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting-modal__container {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  display: flex;
  height: 680px;
  width: 855px;
  border-radius: 5px !important;
  border: 1px solid var(--color-stroke);
  .setting-icon {
    width: 25px;
    height: 25px;
  }
  .setting-action-icon {
    width: 20px;
    height: 20px;
  }
  .left-side {
    position: relative;
    width: 275px;
    height: 100%;
    background-color: var(--color-darkest-background);
    border-right: 1px solid var(--color-stroke);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    .group-setting-title {
      padding: 8px 20px;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-secondary-text);
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 12px;
    }
    .setting-item {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      color: var(--color-secondary-text);
      &.active {
        background-color: var(--color-highlight);
        color: var(--color-primary-text);
      }
      &:hover {
        cursor: pointer;
        background-color: var(--color-highlight);
        color: var(--color-primary-text);
      }
    }
    .setting-label {
      font-weight: 600;
      margin-left: 15px;
      font-size: 16px;
      line-height: 19px;
      flex: 1;
    }
  }
  .body {
    display: flex;
    background-color: var(--color-lighter-background);
    flex: 1;
    padding: 40px 25px 20px 25px;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
  }
  .modal-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--color-primary-text);
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.MuiPopover-paper {
  -webkit-transition: all 200ms !important;
  border-radius: 10px !important;
  box-shadow: 8px 8px 20px 0 #00000040 !important;
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.iframe-full {
  width: 100%;
  height: 100vh;
}

iframe {
  border: none;
}

.MuiSkeleton-root {
  background-color: var(--color-highlight-action-high)  !important;
}

:root {
  --color-accent: #092555;
  --color-darkest-background: #121212;
  --color-darkest-background80: #121212cc;
  --color-backdrop: rgba(0, 0, 0, 0.75);
  --color-lighter-background: #191919;
  --color-highlight: #1e1e1e;
  --color-stroke: #242424;
  --color-success: #00d33f;
  --color-success-hover: #00d33f80;
  --color-medium: #fcb828;
  --color-urgent: #d8292f;
  --color-mention: #0584fe;
  --color-blue: #1159d5;
  --color-secondary-text: #727272;
  --color-primary-text: #e8e8e8;
  --color-dark-text: #222222;
  --color-highlight-action: #1e1e1e;
  --color-highlight-action-high: #363636;
  --color-light-text: #acacac;
}

@media only screen and (max-height: 900px) {
  .normal-modal {
    padding-top: 0;
    align-items: center;
  }
  .setting-modal {
    padding-top: 0;
    align-items: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    transform: rotate(90deg);
    height: 100vw;
    width: 100vh;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-stroke);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-highlight-action-high);
}
