.App {
  text-align: center;
}

.main-load-page {
  background-color: var(--color-lighter-background);
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-flex {
  min-width: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

textarea {
  font-weight: 600;
}

a {
  color: var(--color-mention);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: var(--color-mention);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// user status

.online {
  width: 12px;
  height: 12px;
  background-color: var(--color-success);
  border-radius: 50%;
  border: 2px solid var(--color-darkest-background);
}

.silent {
  width: 8px;
  height: 8px;
  background-color: var(--color-medium);
  border-radius: 50%;
  border: 2px solid var(--color-darkest-background);
}

.offline {
  display: none;
}

// task status

.backlog {
  color: var(--color-primary-text);
}
.todo {
  color: var(--color-secondary-text);
}
.archived {
  color: var(--color-secondary-text);
}
.doing {
  color: var(--color-medium);
}
.urgent {
  color: var(--color-urgent);
}
.done {
  color: var(--color-success);
}

.App-link {
  color: #61dafb;
}

.team-icon {
  width: auto;
  height: 50px;
  border-radius: 10px;
}

.team-icon-mini {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.display-none {
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPickersBasePicker-container {
  background-color: var(--color-lighter-background) !important;
}

.MuiPaper-root {
  background-color: transparent !important;
  color: var(--color-primary-text) !important;
  p {
    margin-bottom: 0;
  }
}
.MuiPickersCalendarHeader-dayLabel {
  color: var(--color-primary-text) !important;
}

.MuiSvgIcon-root {
  fill: var(--color-primary-text) !important;
}

.MuiTablePagination-root {
  color: var(--color-mute-text) !important;
  .MuiSvgIcon-root {
    fill: var(--color-mute-text) !important;
  }
  .MuiIconButton-root.Mui-disabled {
    opacity: 0.5;
  }
  p {
    margin-bottom: 0;
  }
}

.MuiMenu-list {
  background-color: var(--color-background-1) !important;
}

.MuiPickersCalendarHeader-iconButton {
  background-color: var(--color-lighter-background) !important;
  &:hover {
    background-color: var(--color-highlight-action) !important;
  }
}
.MuiCircularProgress-colorPrimary {
  color: var(--color-success) !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: rgb(182, 188, 226) !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: var(--color-accent) !important;
}

.SRLImage {
  transition: none !important;
}

.emoji-mart-category-list {
  display: block;
}

.hide-scroll-bar {
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.emoji-mart-scroll {
}

.app-input-highlight {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-primary-text);
  width: calc(100% - 40px);
  padding: 16px 20px;
  background-color: var(--color-highlight);
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--color-stroke);
  &::placeholder {
    color: var(--color-secondary-text);
  }
  &:focus {
    box-shadow: 0 0 0 1px var(--color-highlight-action-high);
  }
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.modal-container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  background-color: var(--color-backdrop);
}

.normal-modal {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  background-color: var(--color-backdrop);
  .modal-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--color-primary-text);
  }
  .body-modal {
    width: 585px;
    border-radius: 10px;
    background-color: var(--color-background-1);
    padding: 25px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    position: relative;
    .domain-input {
      max-width: calc(100vw - 50px);
      @media only screen and (max-width: 576px) {
        max-width: unset;
      }
    }
  }
  .modal-title {
    color: var(--color-secondary-text);
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.setting-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting-modal__container {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  display: flex;
  height: 680px;
  width: 855px;
  border-radius: 5px !important;
  border: 1px solid var(--color-stroke);
  .setting-icon {
    width: 25px;
    height: 25px;
  }
  .setting-action-icon {
    width: 20px;
    height: 20px;
  }
  .left-side {
    position: relative;
    width: 275px;
    height: 100%;
    background-color: var(--color-darkest-background);
    border-right: 1px solid var(--color-stroke);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    .group-setting-title {
      padding: 8px 20px;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-secondary-text);
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 12px;
    }
    .setting-item {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      color: var(--color-secondary-text);
      &.active {
        background-color: var(--color-highlight);
        color: var(--color-primary-text);
      }
      &:hover {
        cursor: pointer;
        background-color: var(--color-highlight);
        color: var(--color-primary-text);
      }
    }
    .setting-label {
      font-weight: 600;
      margin-left: 15px;
      font-size: 16px;
      line-height: 19px;
      flex: 1;
    }
  }
  .body {
    display: flex;
    background-color: var(--color-lighter-background);
    flex: 1;
    padding: 40px 25px 20px 25px;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
  }
  .modal-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--color-primary-text);
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.MuiPopover-paper {
  -webkit-transition: all 200ms !important;
  border-radius: 10px !important;
  border: 1px solid var(--color-highlight-action-high);
  .normal-button:hover {
    border-radius: 10px;
    background-color: var(--color-highlight-action);
  }
}

.iframe-full {
  width: 100%;
  height: 100vh;
}

iframe {
  border: none;
}

.MuiSkeleton-root {
  background-color: var(--color-highlight-action-high) !important;
}

.MuiTab-root {
  display: flex;
  align-items: center;
  height: 36px !important;
  min-height: 36px !important;
  padding: 0 8px !important;
  border-radius: 10px !important;
  color: var(--color-secondary-text) !important;
  text-transform: none !important;
  font-size: 15px !important;
  line-height: 20px !important;
}

.MuiTabPanel-root {
  padding: 0 !important;
  overflow-y: auto;
}

.MuiTab-root.Mui-selected {
  color: var(--color-primary-text) !important;
  background-color: var(--color-stroke) !important;
}

.MuiTabs-indicator {
  display: none;
}

.MuiIconButton-root {
  padding: 0 !important;
}

.MuiTabs-flexContainer {
  overflow-x: auto !important;
}

.popup-menu-container {
  width: 295px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--color-background-1);
  .group {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    background-color: var(--color-background-2);
    border-radius: 10px;
    margin-top: 10px;
    .menu-item {
      display: flex;
      align-items: center;
      height: 45px;
      padding: 0 15px;
      .name {
        flex: 1;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--color-primary-text);
        margin-left: 15px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

#popup-mention {
  z-index: 1301 !important;
}

.MuiTooltip-tooltip {
  background-color: var(--color-background-3) !important;
  color: var(--color-primary-text) !important;
}

.page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
  padding-bottom: 20px;
  @media only screen and (max-width: 576px) {
    padding: 0 15px;
    padding-bottom: 20px;
  }
}

code {
  white-space: pre-line;
}

table,
thead,
tr,
th,
td {
  border-color: var(--color-stroke) !important;
  color: var(--color-mute-text) !important;
}

th {
  white-space: nowrap;
}

td {
  color: var(--color-secondary-text) !important;
  white-space: nowrap;
}

.MuiTableSortLabel-root:hover {
  color: var(--color-mute-text) !important;
}

.MuiTableSortLabel-root.Mui-active {
  color: var(--color-primary-text) !important;
}

.MuiModal-backdrop {
  background-color: var(--color-backdrop) !important;
}

html {
  --color-accent: #092555;
  --color-accent-2: #d8d0bd;
  --color-darkest-background: #f5f6f7;
  --color-darkest-background80: #f5f6f7cc;
  --color-backdrop: rgba(18, 20, 23, 0.1);
  --color-lighter-background: #f8f8f8;
  --color-highlight: #cecece;
  --color-stroke: #f3f3f3;
  --color-success: #00d33f;
  --color-success-hover: #00d33f80;
  --color-medium: #fcb828;
  --color-urgent: #d8292f;
  --color-mention: #0584fe;
  --color-blue: #1159d5;
  --color-secondary-text: #666666;
  --color-dark-text: #222222;
  --color-highlight-action: #f8f8f8;
  --color-highlight-action-high: #363636;
  --color-light-text: #acacac;
  --color-muted-text: #616164;
  --color-highlight: #eef0f4;
  --color-shadow-popup: transparent;
  --accent-blue: #2563eb;
  --accent-yellow: #fcb828;

  // Website
  --color-background-light: #fffbf2;
  --color-background-black: #000000;
  --color-background-dark: #191919;
  --color-background-lighter: #efe9da;
  --content-primary: #e8e8e8;
  --color-accent-1: #c9b074;
  --color-accent-2: #d8d0bd;
  --color-branding-accent-2: #fffefd;
  --color-background-btn-primary: #242424;
  --color-branding-secondary: #d2aa6d;
  --color-background-medium: #1e1e1e;
  --content-muted: #616164;
  --content-muted-dark: #86868b;
  --content-dark: #121212;
  --content-muted-2: #727272;

  --color-bright-text: #ffffff;
  --color-primary-text: #121417;
  --color-secondary-text: #44474b;
  --color-mute-text: #848484;
  --color-background-1: #ffffff;
  --color-background-opacity-1: #fffffff7;
  --color-background-2: #f5f6f7;
  --color-background-3: #cecece;
  --color-background-4: #bbbbbb;
  --color-background-5: #e8e8e8;
  --color-background-6: #fafafa;
  --color-warpcast: #c848ff;
  --color-fc-accent: #1159d5;
  --color-stroke: #f3f3f3;
  --color-recast: rgb(66, 183, 72);
  --color-like: rgb(213, 19, 56);
  --color-highlight-action-high: #f3f3f3;
  --color-bg-blue: #e9effd;
  --color-bg-yellow: #fef7e9;
  --color-bg-hover: #00000003;

  --tag-icon-margin: 5px 5px 5px 0;
  --tag-icon-padding: 0px;

  @media only screen and (max-width: 576px) {
    --tag-icon-margin: 5px 4px 5px -1px;
    --tag-icon-padding: 1px;
  }

  @media (prefers-color-scheme: dark) {
    --color-darkest-background: #121212;
    --color-darkest-background80: #121212cc;
    --color-lighter-background: #191919;
    --color-backdrop: rgba(255, 255, 255, 0.1);
    --color-highlight: #1e1e1e;
    --color-stroke: #242424;
    --color-secondary-text: #727272;
    --color-dark-text: #222222;
    --color-highlight-action: #1e1e1e;
    --color-highlight-action-high: #f3f3f3;
    --color-light-text: #ffffff;
    --color-muted-text: #616164;
    --color-highlight: #242424;

    --color-bright-text: #000000;
    --color-primary-text: #ffffff;
    --color-secondary-text: #acacac;
    --color-mute-text: #727272;
    --color-background-1: #000000;
    --color-background-opacity-1: #000000f7;
    --color-background-2: #121212;
    --color-background-3: #363636;
    --color-background-4: #363636;
    --color-background-5: #363636;
    --color-background-6: #121212;
    --color-warpcast: #c848ff;
    --color-fc-accent: #1159d5;
    --color-stroke: #242424;
    --color-recast: rgb(66, 183, 72);
    --color-like: rgb(213, 19, 56);
    --color-highlight-action-high: #1e1e1e;
    --color-bg-blue: #1b2438;
    --color-bg-yellow: #191204;
    --color-bg-hover: #ffffff0d;
  }

  scrollbar-color: var(--color-mute-text) var(--color-background-1);
}

html.light {
  --color-accent: #092555;
  --color-accent-2: #d8d0bd;
  --color-darkest-background: #f5f6f7;
  --color-darkest-background80: #f5f6f7cc;
  --color-backdrop: rgba(18, 20, 23, 0.1);
  --color-lighter-background: #f8f8f8;
  --color-highlight: #cecece;
  --color-stroke: #f3f3f3;
  --color-success: #00d33f;
  --color-success-hover: #00d33f80;
  --color-medium: #fcb828;
  --color-urgent: #d8292f;
  --color-mention: #0584fe;
  --color-blue: #1159d5;
  --color-secondary-text: #666666;
  --color-dark-text: #222222;
  --color-highlight-action: #f8f8f8;
  --color-highlight-action-high: #363636;
  --color-light-text: #acacac;
  --color-muted-text: #616164;
  --color-highlight: #eef0f4;

  // Website
  --color-background-light: #fffbf2;
  --color-background-black: #000000;
  --color-background-dark: #191919;
  --color-background-lighter: #efe9da;
  --content-primary: #e8e8e8;
  --color-accent-1: #c9b074;
  --color-accent-2: #d8d0bd;
  --color-branding-accent-2: #fffefd;
  --color-background-btn-primary: #242424;
  --color-branding-secondary: #d2aa6d;
  --color-background-medium: #1e1e1e;
  --content-muted: #616164;
  --content-muted-dark: #86868b;
  --content-dark: #121212;
  --content-muted-2: #727272;

  --color-bright-text: #ffffff;
  --color-primary-text: #121417;
  --color-secondary-text: #44474b;
  --color-mute-text: #949494;
  --color-background-1: #ffffff;
  --color-background-opacity-1: #fffffff7;
  --color-background-2: #f5f6f7;
  --color-background-3: #cecece;
  --color-background-4: #bbbbbb;
  --color-background-5: #e8e8e8;
  --color-background-6: #fafafa;
  --color-warpcast: #c848ff;
  --color-fc-accent: #1159d5;
  --color-stroke: #f3f3f3;
  --color-recast: rgb(66, 183, 72);
  --color-like: rgb(213, 19, 56);
  --color-highlight-action-high: #f3f3f3;
  --color-bg-blue: #e9effd;
  --color-bg-yellow: #fef7e9;
  --color-bg-hover: #00000003;
}

html.dark {
  --color-darkest-background: #121212;
  --color-darkest-background80: #121212d9;
  --color-lighter-background: #191919;
  --color-backdrop: rgba(255, 255, 255, 0.1);
  --color-highlight: #1e1e1e;
  --color-stroke: #242424;
  --color-dark-text: #222222;
  --color-highlight-action: #1e1e1e;
  --color-highlight-action-high: #f3f3f3;
  --color-light-text: #ffffff;
  --color-muted-text: #616164;
  --color-highlight: #242424;

  --color-bright-text: #000000;
  --color-primary-text: #ffffff;
  --color-secondary-text: #acacac;
  --color-mute-text: #727272;
  --color-background-1: #000000;
  --color-background-opacity-1: #000000f7;
  --color-background-2: #121212;
  --color-background-3: #363636;
  --color-background-4: #363636;
  --color-background-5: #363636;
  --color-background-6: #121212;
  --color-warpcast: #c848ff;
  --color-fc-accent: #1159d5;
  --color-stroke: #242424;
  --color-recast: rgb(66, 183, 72);
  --color-like: rgb(213, 19, 56);
  --color-highlight-action-high: #1e1e1e;
  --color-bg-blue: #1b2438;
  --color-bg-yellow: #191204;
  --color-bg-hover: #ffffff0d;
}

html {
  background-color: var(--color-background-1);
  color-scheme: auto;
}

@media only screen and (max-height: 900px) {
  .normal-modal {
    padding-top: 0;
    align-items: center;
  }
  .setting-modal {
    padding-top: 0;
    align-items: center;
  }
}

@media only screen and (max-width: 576px) {
  .hide-xs {
    display: none !important;
  }
  .modal-full-mobile {
    align-items: flex-start;
    .body-modal {
      height: 100vh;
      border-radius: 0;
      padding: 15px;
      .modal-title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-primary-text);
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        min-height: 50px;
        margin-bottom: 0;
        margin-top: -15px;
      }
    }
  }
}

@media only screen and (min-width: 575px) {
  .hide-desktop {
    display: none !important;
  }
}
