@font-face {
  font-family: "Helvetica";
  src: url("./renderer/assets/fonts/Helvetica.otf");
}

@font-face {
  font-family: "SF-UI-Text";
  src: url("./renderer/assets/fonts/SFUIText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Text";
  src: url("./renderer/assets/fonts/SFUIText-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Text";
  src: url("./renderer/assets/fonts/SFUIText-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Text";
  src: url("./renderer/assets/fonts/SFUIText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  color: var(--color-primary-text);
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: SF-UI-Text, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary-text);
  font-weight: 500;
  background-color: var(--color-lighter-background);
  transform: rotate(0deg);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

ol {
  padding: 0;
  margin: 0;
}

div {
  &:focus {
    outline: none;
  }
}

video {
  &:focus {
    outline: none;
  }
}

img {
  object-fit: cover;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  max-width: 100%;
  &:focus {
    outline: none;
  }
}

span {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  word-break: break-word;
}

.disable-user-select {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.enable-user-select {
  user-select: auto; /* standard syntax */
  -webkit-user-select: auto; /* webkit (safari, chrome) browsers */
  -moz-user-select: auto; /* mozilla browsers */
  -khtml-user-select: auto; /* webkit (konqueror) browsers */
  -ms-user-select: auto; /* IE10+ */
}

::-moz-selection {
  /* Code for Firefox */
  // background: var(--color-primary-text);
}

::selection {
  // background: var(--color-primary-text);
}

input {
  background-color: transparent;
  color: var(--color-primary-text);
  line-height: 22px;
  font-size: 16px;
  border: none;
  &:focus {
    outline: none;
  }
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
  background-color: var(--color-lighter-background);
  color: var(--color-primary-text);
  line-height: 22px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: none;
  &:focus {
    outline: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
  width: 100%;
  font-size: 16px;
  color: var(--color-primary-text);
  position: relative;
  background-color: var(--color-lighter-background);
  overflow: hidden;
}

#title-bar {
  height: 49px;
  width: 100%;
  background-color: var(--color-lighter-background);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-stroke);
  -webkit-app-region: drag;
  &.hide {
    height: 50px;
    border-bottom: none;
    background-color: var(--color-darkest-background);
  }
}

#sidebar {
  height: calc(100vh - 50px);
  width: 275px;
  background-color: var(--color-darkest-background);
  border-right: 1px solid var(--color-stroke);
}

.row__space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__center {
  display: flex;
  align-items: center;
}
.normal-button-clear:hover {
  cursor: pointer;
}

.normal-button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.normal-button:hover {
  border-radius: 5px;
  background-color: var(--color-highlight-action);
}
.normal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.logo-app {
  width: 50px;
  height: 50px;
}

.app-input {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-primary-text);
  background-color: var(--color-highlight);
  width: 100%;
  &::placeholder {
    color: var(--color-secondary-text);
  }
}

.image-inline {
  max-width: 100%;
  max-height: 110px;
}
