.message-item-wrapper {
  display: flex;
  flex-direction: column;
}
.message-item-container {
  display: flex;
  position: relative;
  padding: 5px 0;
  .message-item__avatar-view {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    .message-item__avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  .message-item__space-left {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .message-item__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    .message-item__reacts {
      margin-top: 15px;
    }
    .message-item__reacts-head {
      margin-left: 20px;
    }
    .message-item__user-name {
      font-weight: 600;
      font-size: 16px;
      color: var(--color-primary-text);
    }
    .message-item__message {
      font-size: 16px;
      color: var(--color-primary-text);
      line-height: 26px;
      white-space: pre-line;
    }
    .message-item-sending {
      color: var(--color-secondary-text);
    }
    .message-item__user {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
    .message-task {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      .message-task__indicator {
        width: 4px;
        height: 20px;
        border-radius: 5px;
        background-color: var(--color-secondary-text);
      }
      .view-task {
        color: var(--color-mention);
        font-size: 16px;
        font-weight: 600;
        margin-left: 10px;
      }
    }
    .message-head__message {
      margin-top: 8px;
      margin-left: 20px;
    }
    .message-item__reply-head {
      margin-left: 20px;
    }
    .message-item__reply {
      color: var(--color-mention);
      font-size: 16px;
      font-weight: 600;
      margin-top: 16px;
    }
  }
  .message-item__time {
    font-weight: 500;
    font-size: 11px;
    color: var(--color-secondary-text);
    display: none;
  }
  .message-item__menu {
    border-radius: 5px;
    display: none;
    height: 40px;
    position: absolute;
    top: -20px;
    right: 25px;
    background-color: var(--color-darkest-background);
    border: 1px solid var(--color-stroke);
    .message-item__menu-item {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
        background-color: var(--color-stroke);
      }
    }
  }
  .popover-open {
    display: flex;
  }
  &:hover {
    background-color: var(--color-highlight);
    z-index: 100;
    .message-item__menu {
      display: flex;
    }
    .message-item__time {
      display: block;
    }
  }
}
