.channel-popup__container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-darkest-background);
  border-radius: 5px;
  width: 275px;
  .group-item {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-primary-text);
    height: 48px;
    padding: 0 16px;
    align-items: center;
    display: flex;
    border-radius: 5px;
  }
}
