.channel-view-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 50%;

  .channel-view__header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-lighter-background);
    justify-content: space-between;
    .channel-view__avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-left: 15px;
    }
    .channel-icon__wrapper {
      margin: 0 10px 0 15px;
      position: relative;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .channel-icon {
      width: 25px;
      height: 25px;
      border-radius: 12.5px;
      background-color: var(--color-highlight-action-high);
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .attachment-loading {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.75);
    }
    .channel-view__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: var(--color-primary-text);
    }
    .icon-private {
      margin: 10px;
    }
    .channel-view__actions {
      display: flex;
      margin-right: 20px;
    }
    .channel-view__members {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 18px;
      &:hover {
        cursor: pointer;
      }
      .avatar__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
      }
      .avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid var(--color-darkest-background);
        background-color: var(--color-accent);
      }
      .avatar-more__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid var(--color-darkest-background);
        background-color: var(--color-highlight);
        color: var(--color-secondary-text);
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  .message-load-more {
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-lighter-background);
    color: var(--color-secondary-text);
  }
  .channel-view__body {
    flex: 1;
    flex-direction: column-reverse;
    display: flex;
    overflow-y: scroll;
    position: relative;
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    .date-title {
      display: flex;
      align-items: center;
      margin-top: 10px;
      color: var(--color-secondary-text);
      padding: 0 10px;
      font-size: 12px;
      line-height: 14px;
      .separate-line {
        margin: 0 10px;
        flex: 1;
        background-color: var(--color-stroke);
        height: 1px;
      }
    }
  }
  .message-bottom {
    display: flex;
    flex-direction: column;
    .message-scroll-down__wrapper {
      position: absolute;
      bottom: 25px;
      right: 25px;
      z-index: 1000;
      .unread-count {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--color-success);
        position: absolute;
        top: -20px;
        left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
      }
      .btn-scroll-down {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--color-highlight);
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.channel-setting__container {
  background-color: var(--color-darkest-background);
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  width: 540px;
  height: 600px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  .setting-header {
    display: flex;
    align-items: center;
  }
  .setting-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .setting-member-item {
    display: flex;
    align-items: center;
    padding: 7.5px 15px;
    .member-name {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      margin-left: 15px;
    }
  }
  .setting-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 5px;
  }
  .setting-label {
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  .edit-name-input__wrapper {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    margin: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--color-stroke);
    background-color: var(--color-highlight);
    .button-normal {
      background-color: var(--color-highlight);
    }
    .edit-name-input {
      flex: 1;
      padding: 0 12px;
      font-weight: 600;
      color: var(--color-primary-text);
      font-size: 16px;
      line-height: 19px;
    }
  }
  .tab-item {
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-secondary-text);
    &.active {
      color: var(--color-primary-text);
    }
  }
  .team-user-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    .user-item {
      padding: 0 15px;
    }
    .user-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.direct-description__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 270px auto 0 auto;
  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-secondary-text);
  }
  .description {
    color: var(--color-secondary-text);
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    line-height: 26px;
    .link {
      color: var(--color-mention);
      &:hover {
        cursor: pointer;
      }
    }
  }
}
