.message-react-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .react-item__view {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 6px 10px;
    background-color: var(--color-highlight);
    color: var(--color-secondary-text);
    &:hover {
      color: var(--color-primary-text);
      background-color: var(--color-highlight-action-high);
      cursor: pointer;
    }
    .react-item__count {
      margin-left: 8px;
      font-size: 16px;
    }
  }
}
