.invite-member-modal {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.invite-member-view__container {
  display: flex;
  flex-direction: column;
  width: 530px;
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-lighter-background);
  padding: 40px 25px 20px 25px;
  .invite-member__title {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
  }
  .input-channel-item__container {
    padding: 16px 20px;
    background-color: var(--color-highlight);
    border-radius: 5px;
    border: 1px solid var(--color-stroke);
  }
  .server-link__wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--color-highlight);
    border: 1px solid var(--color-stroke);
    border-radius: 5px;
    .tag-link {
      width: 50px;
      height: 50px;
      background-color: var(--color-stroke);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .invite-link {
      flex: 1;
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      color: var(--color-primary-text);
      margin-left: 20px;
    }
    .btn-copy {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .invite-member__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
  }
  .MuiSwitch-root {
    overflow: visible;
  }
}
