.home-loading__container {
  background-color: var(--color-lighter-background);
  width: 100%;
  height: 100vh;
  display: flex;
  .background-team-view {
    background-color: var(--color-darkest-background);
    height: 100vh;
    width: 70px;
    border-right: 1px solid var(--color-stroke);
  }
  .background-sidebar {
    background-color: var(--color-darkest-background);
    height: 100vh;
    width: 275px;
    border-right: 1px solid var(--color-stroke);
  }
  .background-conversation {
    flex: 0.5;
    border-right: 1px solid var(--color-stroke);
  }
}
