.team-setting-modal {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.team-setting__container {
  display: flex;
  height: 680px;
  width: 855px;
  border-radius: 5px !important;
  .left-side {
    width: 275px;
    height: 100%;
    background-color: var(--color-darkest-background);
    border-right: 1px solid var(--color-stroke);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    .group-setting-title {
      padding: 10px 20px;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-secondary-text);
      font-weight: 600;
    }
    .ic-notification {
      width: 25px;
      height: 25px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .setting-body {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .setting-item {
      padding: 8px 20px;
      display: flex;
      align-items: center;
    }
    .setting-label {
      font-weight: 600;
      margin-left: 15px;
      font-size: 16px;
      line-height: 19px;
      margin-left: 15px;
    }
    .team-avatar-small {
      width: 25px;
      height: 25px;
      border-radius: 12.5px;
    }
  }
  .body {
    display: flex;
    background-color: var(--color-lighter-background);
    flex: 1;
    padding: 40px 30px;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
    .modal-label {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
    .team-avatar__wrapper {
      position: relative;
      margin-top: 40px;
      width: 90px;
      height: 90px;
      .team-avatar {
        width: 90px;
        height: 90px;
        border-radius: 45px;
      }
      .icon-camera {
        position: absolute;
        top: -5px;
        right: -5px;
      }
      .attachment-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
    .input-wrapper {
      padding: 16px 20px;
      background-color: var(--color-highlight);
      border-radius: 5px;
      border: 1px solid var(--color-stroke);
      margin-top: 30px;
    }
    .delete__wrapper {
      margin-top: 30px;
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 8px 0;
      &:hover {
        cursor: pointer;
      }
      .delete-text {
        font-size: 16px;
        line-height: 19px;
        margin-left: 15px;
        font-weight: 600;
      }
    }
  }
}
