.confirm-delete-channel-modal {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.confirm-delete-channel-view__container {
  display: flex;
  flex-direction: column;
  width: 530px;
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid var(--color-stroke);
  background-color: var(--color-lighter-background);
  padding: 40px 25px 20px 25px;
  .confirm-delete-channel__title {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
  }
  .confirm-delete-channel__content-wrapper {
    display: flex;
    align-items: center;
  }
  .confirm-delete-channel__content {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
  }
  .channel-name {
    margin-left: 10px;
    background-color: var(--color-highlight);
    border: 1px solid var(--color-stroke);
    border-radius: 5px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .confirm-delete-channel__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  .MuiSwitch-root {
    overflow: visible;
  }
}
